body {
  background-color: rgba(255,255,255,1.0);
  overflow: hidden;
}
.currentColor{
  background-color: yellow;
}
h4{
  color: red;
  font-size: 1.25em;
  opacity: 0.4;
  position: absolute;
  right: 0.5em;
  top: 0;
}
#opacityArea{
  display: none;
}
#reset{
  color: red;
  cursor: pointer;
  font-size: 1.25em;
  opacity: 0.4;
  position: fixed;
  left: 0.5em;
  top: 0.5em;
}
#wrap{
  border: none;
  height: 100%;
  margin-top: 6em;
  margin-top: 10vw;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}