/*From Bootstrap template*/
body {
  padding-top: 70px;
  padding-bottom: 30px;
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}
.theme-showcase .navbar .container {
  width: auto;
}

/*Own*/

.max-50 {
  max-width: 50px;
}
.max-100 {
  max-width: 100px;
}
.max-200 {
  max-width: 200px;
}
.max-300 {
  max-width: 300px;
}
.max-400 {
  max-width: 400px;
}

figure{
  float: left;
  text-align: center;
}
figcaption{
  background-color: rgba(255,255,0,0.2);
  border-top: 2em;
  font-size: 2em;
  text-align: center;
}
.hidden {
  display: none;
  z-index: -10;
}
nav ul{
  list-style-image: none;
  text-align: center;
}
.navbar-inverse{
  background-color: #fff;
  background-image: none;
  border: none;
  position: fixed;
}
#next, #prev{
  color: red;
  cursor: pointer;
  display: inline-block;
  font-size: 2.25em;
  margin: 0 10px 0 10px;
  right: 0.5em;
  top: 0.5em;
}
.page-header{
  margin: 10px;
  padding: 2px;
}
#reset{
  color: red;
  cursor: pointer;
  font-size: 1.25em;
  opacity: 0.4;
  position: fixed;
  left: 0.5em;
  top: 0.5em;
}
#reset:hover{
  opacity: 1;
}
.right{
  float: right;
  margin-right: 2em;
  width: 40%;
}
.theme-showcase{
  margin-top: 60px;
}
#slide-1 h4{
  display: block;
  text-align: center;
  width: 100%;
}
#slide-1 h4:before, #slide-1 h4:after{
  content: "\21D3";
}
#slide-2-image img{
  max-width: 20px;
}
#slide-3-image img{
  max-height: 20px;
}
#slide-5-image img{
  width: 20px;
}
#slide-6-image img{
  height: 20px;
}
#slide-8-image img{
  height: 20px;
  width: 20px;
}
#slide-2-image img, #slide-3-image img, #slide-5-image img, #slide-6-image img, #slide-8-image img{
  margin: 0 auto;
  text-align: center;
}
#slide-2 input, #slide-3 input, #slide-5 input, #slide-6 input, #slide-8 input{
  width: 40%;
}

/*To flush footer to bottom*/
footer {
  bottom: 0;
  clear: both;
  display: block;
  float: right;
  height: 50px;
  margin-right: 5%;
  position: absolute;
  right: 0;
} 