@import url(http://fonts.googleapis.com/css?family=Special+Elite);
@import url(http://fonts.googleapis.com/css?family=Cutive);

body{
  margin: 2% 5% 5% 3%;
}
.main{
  border: 4px double black;
  padding: 1em 2em;
}
a{
  text-decoration: none;
}
.demo, .alpha, .done{
  margin-left: 3em;
}