aside{
  bottom: 6em;
  clear: both;
  color: red;
  float: right;
  font-size: 1.5em;
  position: fixed;
  right: 1em;
}
#current-question{
  border: 1px solid black;
  font-size: 2em;
}
#current-status{
  float: right;
  font-size: 1.25em;
  padding: 0.5em;
  text-align: left;
  width: 40%;
}
.current-status{
  float: none;
  margin: 0 auto;
  bottom: 0em;
  position: absolute;
  font-size: 2em;
}
h1{
  font-size: 4em;
  text-align: center;
}
input{
  left: 5%;
  text-align: center;
  width: 90%;
}
#main{
  display: none;
}
pre{
  background-color: #999;
  font-size: 1.5em;
  min-height: 200px;
  padding: 2em;
  text-align: left;
  width: 250px;
}
#reset{
  color: red;
  cursor: pointer;
  font-size: 1.25em;
  opacity: 0.4;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
#reset:hover{
  opacity: 1;
}
#result{
  bottom: 0;
  float: left;
  font-size: 1.15em;
  height: 150px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 1em;
  text-align: left;
  width: 50%;
}
span{
  background-color: #F0F0F0;
  border: 1px solid black;
  box-shadow: 2px 2px 1px #888;
  text-align: center;
}
.tag{
  color: red;
  cursor: pointer;
  display: block;
  font-size: 3em;
  width: 20%;
}
.tag:hover{
  color: blue;
}